<div class="container">
  <div class="navbar"></div>
  <header>
    08.10.2018
  </header>

  <main>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat tincidunt dui vestibulum sollicitudin.
      Ut dignissim mauris eget nunc dictum convallis. Phasellus faucibus, turpis eu consequat faucibus, orci risus elementum neque, ut fermentum mi neque vehicula risus.
      In risus mauris, feugiat ut ligula ut, fringilla vestibulum turpis. Etiam et tellus sollicitudin, accumsan massa id, consectetur ante.
      Sed tincidunt felis a consectetur euismod. Fusce vestibulum felis eget metus ornare, nec elementum mauris maximus.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque tincidunt dapibus sem, id laoreet mi molestie at.
      Sed eget est sit amet dolor ultrices tempus. Donec laoreet tortor eu lectus tincidunt, id pellentesque tellus finibus. Donec vulputate egestas feugiat.
      Ut quam erat, tincidunt ac pharetra non, rhoncus nec quam. Praesent vitae auctor dolor.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat tincidunt dui vestibulum sollicitudin.
      Ut dignissim mauris eget nunc dictum convallis. Phasellus faucibus, turpis eu consequat faucibus, orci risus elementum neque, ut fermentum mi neque vehicula risus.
      In risus mauris, feugiat ut ligula ut, fringilla vestibulum turpis. Etiam et tellus sollicitudin, accumsan massa id, consectetur ante.
      Sed tincidunt felis a consectetur euismod. Fusce vestibulum felis eget metus ornare, nec elementum mauris maximus.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque tincidunt dapibus sem, id laoreet mi molestie at.
      Sed eget est sit amet dolor ultrices tempus. Donec laoreet tortor eu lectus tincidunt, id pellentesque tellus finibus. Donec vulputate egestas feugiat.
      Ut quam erat, tincidunt ac pharetra non, rhoncus nec quam. Praesent vitae auctor dolor.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat tincidunt dui vestibulum sollicitudin.
      Ut dignissim mauris eget nunc dictum convallis. Phasellus faucibus, turpis eu consequat faucibus, orci risus elementum neque, ut fermentum mi neque vehicula risus.
      In risus mauris, feugiat ut ligula ut, fringilla vestibulum turpis. Etiam et tellus sollicitudin, accumsan massa id, consectetur ante.
      Sed tincidunt felis a consectetur euismod. Fusce vestibulum felis eget metus ornare, nec elementum mauris maximus.
    </p>
  </main>

  <aside>
    <img src="../../../assets/img1.png" class="rounded mx-auto d-block" alt="stary simson"/>
  </aside>

  <div class="clean"></div>

  <footer>
    Designed by Mateusz Korzeniowski &copy 2018
  </footer>
</div>

