<nav><div class="navbar"></div></nav>

<div class="map-container">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.7719358334984!2d20.988121616087607!3d50.01562972648025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473d8354fe68ac69%3A0xb016235c60a68f9e!2sPa%C5%84stwowa+Wy%C5%BCsza+Szko%C5%82a+Zawodowa!5e0!3m2!1spl!2spl!4v1540222103272" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  <ul class="legend">
    <li>Państwowa wyższa szkołą zawodowa w Tarnowie</li>
    <li>ul. Mickiewicza 8</li>
    <li>33-100 Tarnów</li>
    <li>Terminarz rekrutacji na rok akademicki 2018/2019</li>
    <li>Rekrutacja dodatkowa na studia stacjonarne (pierwszego stopnia, jednolite magisterskie oraz drugiego stopnia):</li>
    <li>Rejestracja elektroniczna –  do 26.09.2018</li>
    <li>Składanie kompletu dokumentów –  do 26.09.2018 do godz. 15.00</li>

    <ul class="list">
      <li>Testy kompetencyjne, rozmowy kwalifikacyjne – 27.09.2018 (Collegium Novum) – dotyczy kandydatów na specjalność zarządzanie biznesem międzynarodowym oraz kandydatów na studia II stopnia na kierunki: obronność państwa  oraz zarządzanie i dowodzenie(w zależności od ukończonego kierunku studiów I stopnia).</li>
      <li>Ogłoszenie wyników – 28.09.2018</li>
    </ul>

    <li>Rekrutacja dodatkowa na studia niestacjonarne (pierwszego stopnia, jednolite magisterskie oraz drugiego stopnia):</li>

    <ul class="list">
      <li>Rejestracja elektroniczna –  do 26.09.2018</li>
      <li>Składanie kompletu dokumentów –  do 26.09.2018 godz. 15.00</li>
      <li>Testy kompetencyjne – 17.09.2018, godz. 17.00 oraz 27.09.2018 – rekrutacja uzupełniająca (Collegium Novum) dotyczy kandydatów na studia II stopnia na kierunki: obronność państwa  oraz zarządzanie i dowodzenie (w zależności od ukończonego kierunku studiów I stopnia).</li>
      <li>Ogłoszenie wyników – 28.09.2018</li>
    </ul>

    <li>Terminarz rekrutacji (wraz z dokładnymi godzinami rozpoczęcia i zakończenia poszczególnych etapów) dostępny jest również na koncie kandydata w Systemie Internetowej Rejestracji
      Kandydatów.</li>
  </ul>
</div>

<footer>
  Designed by Mateusz Korzeniowski &copy 2018
</footer>

<button type="submit" class="btn myButton">UP</button>

<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/navbar.js"></script>
