<div class="container">

  <nav><div class="navbar"></div></nav>

  <div class="left">
    <form id="form">
      <fieldset>
        <legend>Uzupełnij Dane:</legend>
        <div class="form-group">
          <label for="name">Imie:</label>
          <input type="text" class="form-control" id="name" placeholder="Podaj Imie">
          <div id="iname"></div>
        </div>
        <div class="form-group">
          <label for="surname">Nazwisko:</label>
          <input type="text" class="form-control" id="surname" placeholder="Podaj Nazwisko">
          <div id="isurname"></div>
        </div>
        <div class="form-group">
          <label for="email">E-Mail:</label>
          <input type="e-mail" class="form-control" id="email" placeholder="Podaj E-Mail">
          <div id="iemail"></div>
        </div>

        <div class="form-check form-check-inline">
          <label>Płeć</label>
        </div><br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Mężczyzna</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2 rad" value="option2">
          <label class="form-check-label" for="inlineRadio2">Kobieta</label>
        </div>
        <div class="form-group">
          <label for="description">Opis</label>
          <textarea class="form-control" id="description" rows="3"></textarea>
          <div id="idescripton"></div>
        </div>
        <div class="form-group">
          <label for="age">Wiek:</label>
          <input type="number" class="form-control" id="age" value="18">
          <div id="iage"></div>
        </div>
        <div class="form-group col-4">
          <label for="CivilStatus">StanCywilny</label>
          <select id="CivilStatus" class="form-control">
            <option selected>Panna/Kawaler</option>
            <option>Żonaty/Mężata</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success">Wyślij</button>
        <button type="reset" class="btn btn-danger">Wyczyść</button>
      </fieldset>
    </form>
  </div>

  <aside>

  </aside>

  <div class="clean"></div>

  <footer>
    Designed by Mateusz Korzeniowski &copy 2018
  </footer>

</div>

<button type="submit" class="btn myButton">UP</button>

<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/navbar.js"></script>
